.barista {
    /* background-image: url("../../assets/herofix.png"); */
    width: 100%;
    max-height: 70dvh;
      
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;    
    /* background-position-y:150%; */
    /* background-attachment: ; */
    /* background-position-y: ; */
}