<div class="w-full">
    <!-- <div class="barista grid grid-cols-2 h-50vh bg-cover bg-no-repeat">
        
        <div class="flex items-center justify-start h-full max-w-[60%] mx-auto">
            <div class="text-white">
                <span class="text-5xl block mb-4">Lorem ipsum dolor sit amet consectetur.12</span>
                <span class="block mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ipsa quas
                    necessitatibus
                    numquam cumque quia, beatae temporibus vel eligendi optio neque quam esse facilis explicabo,
                    quisquam
                    tenetur quae placeat! Odit!</span>
                <button class="bg-orange-700 w-32 text-white p-2 rounded">Profesyonel Çözüm Ortağınız</button>
            </div>
        </div>
        
    </div> -->

    <img src="../../assets/herofix2.jpg" alt="" class="w-full hidden md:block min-h-[50dvh]">
    <img src="../../assets/mobiltop2.webp" alt="" class="w-full md:hidden min-h-[30dvh]">
</div>