.page404 {
background-color: #BCBCBC;
color: #b89d64;
height: calc(100% - 80px);
background-image: url("../../assets/clogo.png");
width: 100%;    
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.geridonbtn {
    padding: 16px 36px;
    background-color: #b89d64;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
   .page404 {
    height: calc(100% - 44px);
   }
  }


