.page404 {
background-color: #BCBCBC;
color: #b89d64;
height: 95lvh;
}
.geridonbtn {
    padding: 16px 36px;
    background-color: #b89d64;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
}
