<div class="bg-[#F5F0EA] overflow-visible p-5 md:p-0 md:py-8">
    <div class=" mx-auto overflow-visible">
        <div class="row flex flex-col md:px-4">
            <div class="text-center block text-[#513826] text-3xl md:text-[2.25rem] md:leading-[4rem] mx-auto px-8">
                Ürünlerimiz
                <span class="cizgi  mb-8 -mx-2"></span>
            </div>

            <div class="col-10 offset-1 ">
                <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)"
                    (change)="getChangeData($event)" (changed)="getChangedData($event)" #owlCar class="flex gap-9">

                    @for (item of carouselData(); track item.id) {
                    <ng-template carouselSlide [id]="item.id" [width]="item.width" class="bg-white rounded-3xl">
                        <div
                            class="slider mx-auto flex justify-center items-center flex-col m-5 p-0 !pt-0 rounded-lg bg-white overflow-hidden">
                            <img class="max-h-[20rem] md:max-h-[24.5rem]  p-0" (click)="togglePopup(item)"
                                [src]="item.img" alt="{{ item.subtext }}">
                            <span class="font-semibold mt-2 block text-lg text-[#513826]">{{item.subtext}}</span>
                            <!-- <span class="font-light block mt-2 text-sm">{{item.subtext}}</span> -->
                            <span class="price mt-4 font-extrabold text-2xl">{{item.price}}</span>
                            <!-- <button class="satinalbutton"><mat-icon class="text-white">shopping_cart</mat-icon>
                                {{item.description}}</button> -->
                        </div>
                    </ng-template>
                    }

                </owl-carousel-o>

            </div>
        </div> <!-- row -->

    </div> <!-- /.container -->
    <div class="flex items-center mt-2 justify-center">
        <span class="flex gap-2">
            <a class="btn btn-success rounded-lg" (click)="owlCar.prev()"><mat-icon>keyboard_arrow_left</mat-icon> </a>
            <a class="btn btn-success rounded-lg" (click)="owlCar.next()"><mat-icon>keyboard_arrow_right</mat-icon></a>
        </span>
        <!-- <p><a class="btn btn-success" (click)="owlCar.to('slide-3')">move to 3th slide</a></p>
        <p><a class="btn btn-success" (click)="removeLastSlide()">Remove the last slide</a></p>
        <br>
        <div class="d-flex justify-content-center mt-3 mb-5">
    
        </div> -->
    </div>
    <!-- <div class="flex justify-between">
        <img src="assets/logolar/amazon.svg" class="w-[10%] h-[10%]" alt="">
        <img src="assets/logolar/trendyol.png" class="w-[10%] h-[10%]" alt="">
    </div> -->
    <div class="grid grid-cols-2  mt-6 md:mt-12 md:px-5 gap-3">
        <a href="" class="block">
            <span class="flex flex-col items-center ">
                <img src="assets/logolar/amazon.svg" class="w-[50%] md:w-[13%]  mb-2 cursor-pointer" alt="">
                <span class="md:block hidden albtn ">AMAZON MAĞAZAMIZ</span>
            </span>
        </a>
        <a href="https://www.trendyol.com/sr?q=HOLOCO%20GIDA&qt=HOLOCO%20GIDA&st=HOLOCO%20GIDA&os=1">
            <span class="flex flex-col items-center">
                <img src="assets/logolar/trendyol.png" class="w-[50%] md:w-[17%] mb-2 cursor-pointer" alt="">
                <span class="md:block hidden albtn">TRENDYOL MAĞAZAMIZ</span>
            </span>
        </a>
    </div>
</div>

<!-- <div *ngIf="selectedItem && selectedItem.status" class="popup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()"> <span class="close"
            (click)="closePopup()">&times;</span>
        <div [innerHTML]="selectedItem.description"></div>
    </div>
</div> -->

<div *ngIf="selectedItem && selectedItem.status" class="popup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="togglePopup(selectedItem)">&times;</span>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
        <p>{{ selectedItem.id }}'nin durumu: {{ selectedItem.status }}</p>
    </div>
</div>