.bold {
     font-weight: bold; 
     color: #b89d64;
}

.arkaplan {
     background-image: url("../../assets/clogo2.png");
     width: 100%;
     height: auto;
     background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

