<div>
    <div class="pt-9 px-3 md:px-16 font-sans">
        <h1 class="bold text-center">HAKKIMIZDA</h1>
        <div class="arkaplan">
            <p><span class="bold">HOLOCO GIDA SAN. TİC. A.Ş.</span>,içecek ve gıda sektörünün tüm ihtiyaçlarını
                karşılayacak ve yüksek hizmet kalitesinden ödün vermemeyi düstur edinen bir çözüm ortağı olma
                hayaliyle,2020
                yılında yolculuğuna başladı. </p>
            <span class="block mb-5">Bu hayalin peşinden gittiği 4 yılın sonunda,
                Türkiye'nin her yerine ulaşan kuru ve donuk parsiyel taşımacılık filosuyla birçok kurumsal markaya
                lojistik
                hizmet veren bir çözüm ortağı olmuştur.</span>
            <span class="block mb-5">Bununla birlikte sektörün
                sorunlarını ve ihtiyaçlarını doğru tespit ederek, doğru çözümler üretebilmek adına İzmir Pancar'da 5000
                m²
                alana kurulu bir karton bardak fabrikası iştirakiyle <span class="bold">JOYCUP</span> markasıyla karton
                baskılı bardak üretimine başlamıştır.</span>
            <span class="block mb-5">İşletmelerin sıcak soğuk atıştırmalık
                pasta vb. satış, stok takibi, maliyet gibi karlılığını etkileyen en önemli parametrelerini bir arada
                takip
                edip analiz ederek raporlayan bir yazılım hazırlayabilmek adına kurduğu yazılım firmasıyla <span
                    class="bold">PICKSOFT OTOMASYON SİSTEMİ</span>'ni iş ortaklarının kullanımına sunmuştur.</span>
            <span class="block mb-5">Yıllık 300 ton kahvenin kavrulduğu kavurma tesislerinde üretilen, premium segmentte
                pazarda rakiplerinin arasından sıyrılan <span class="bold">TERRA, PRİVATE, MIRELA, TAGLE VE
                    PUBLIC</span>
                markaları da HOLOCO'nun tescilli markası olarak portföyünde yerini almaktadır. 15 büyük zincirin
                kahvelerini
                de kendi reçete ve markalarıyla ayrıca kavurmaktadır.</span>

            <span class="block mb-5">Tüm bunların dışında,
                Türkiye'nin güçlü markalarıyla kurduğu iş birlikleriyle, işletmelerde fark yaratan ürünlerin ana
                bayiliğini
                üstlenen HOLOCO, ürün gamını her gün genişleterek çözüm ortağı olduğu işletmelere ürün tedariği
                sağlamaya
                devam ederek büyümektedir.</span>


            <span class="block mb-5"><span class="">AGOSTO</span> markalarıyla
                sos, baz, püre çözümleri, <span class="bold">PLANTERO KONSANTRE BİTKİSEL SÜT</span>
                çeşitleriyle düşük
                maliyetli doğal ürünler ve daha birçok sarf malzemesini tedarik edebileceğiniz HOLOCO, siz değerli iş
                ortaklarına değer katarak büyümeye ve hayalinin peşinden gitmeye devam edecektir.</span>
        </div>
    </div>
</div>