<div class="flex navbar sticky font-sans top-0">
    <div class="hidden md:flex items-center h-20 ">
        <a href="/" class="cursor-pointer mx-2">
            <img class="w-auto h-32 logoshadow" src="/assets/holoco-logo.png" alt="">
        </a>
        <!-- <div class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input type="text" placeholder="Arama yap...">
            <button (click)="search()"><mat-icon class="anaicon">search</mat-icon></button>
        </div> -->
        <div>
            <a href="hakkımızda" class="cursor-pointer">Hakkımızda</a>
        </div>
    </div>
    <div class="hidden md:flex items-center ml-auto gap-4 cursor-pointer">
        <div class=" flex items-center gap-1 mr-3">
            <img class="w-auto h-6" src="/assets/whatsapp.png" alt="">
            <a href="https://wa.me/+905528344840">Whatsapp</a>
        </div>
        <div class="flex items-center gap-1 mx-3">
            <mat-icon> mail_outline</mat-icon>
            <a href="mailto:info@holoco.com">info&#64;holoco.com</a>
            <!-- <span>info&#64;holoco.com</span> -->
        </div>
        <!-- <div class="kalpsvg mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
        </div> -->
        <div class="flex items-center gap-1 text-lg mr-2">
            <mat-icon>person_add</mat-icon>
            <a href="https://holoco.com.tr/user/login">Giriş Yap</a>
            <!-- <button>Giriş Yap</button> -->
        </div>
    </div>

</div>
<div class="block md:hidden">
    <div class="flex mobilnavbar  sticky top-0 item md:hidden">
        <a href="/" class="cursor-pointer mx-2">
            <img class="w-auto h-20 logoshadow" src="/assets/holoco-logo.png" alt="">
        </a>
        <div class="flex justify-center items-center">
            <a href="hakkımızda" class="cursor-pointer text-[10px]">Hakkımızda</a>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="text-white">reorder</mat-icon>
            </button>
        </div>
        <mat-menu class="matmenu" #menu="matMenu">
            <div class="matmenu">
                <div class="mobilwhatsapp flex items-center gap-1 mr-3">
                    <img class="w-auto h-6" src="/assets/whatsapp.png" alt="">
                    <a href="https://wa.me/+905528344840">Whatsapp</a>
                </div>
                <div class="flex items-center gap-1 ">
                    <mat-icon> mail_outline</mat-icon>
                    <a href="mailto:info@holoco.com">info&#64;holoco.com</a>
                    <!-- <span>info&#64;holoco.com</span> -->
                </div>
                <!-- <div class="kalpsvg ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor"
                        class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                </div> -->
                <div class="flex items-center gap-1 mr-2">
                    <mat-icon>person_add</mat-icon>
                    <a href="https://holoco.com.tr/user/login">Giriş Yap</a>
                </div>
                <div>

                </div>
                <!-- <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button> -->
            </div>
        </mat-menu>
    </div>
</div>