<!-- <div>
    <div class="barista">
        <div class="flex flex-col justify-center h-full">
            <div class="grid  gap-4 text-white w-4/12">
                <span class="text-5xl">Lorem ipsum dolor sit amet consectetur.12</span>
                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ipsa quas necessitatibus
                    numquam
                    cumque quia, beatae temporibus vel eligendi optio neque quam esse facilis explicabo, quisquam
                    tenetur
                    quae placeat! Odit!</span>
                <button class="bg-orange-700 w-32">Daha fazla</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="grid grid-cols-3 h-50vh pt-12  ">
    <div class="bg-red-500 flex items-center pl-6 justify-center gap-7 flex-col text-white">
        <div class="flex flex-col gap-5">
            <span class="text-5xl text-right">robusto coffee</span>
            <span class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis
                necessitatibus neque
                asperiores consequatur modi in reiciendis sapiente provident aut dolorum nisi consectetur error
                molestias, ex vero, soluta sequi. Fugit!</span>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex flex-col">
                <span>alitute</span>
                <span>up 800m</span>
            </div>
            <div class="flex flex-col">
                <span>temp</span>
                <span>22-30c</span>
            </div>
            <div>
                <p>coffeine</p>
                <p>2-5%</p>
            </div>
            <div>
                <p>produc</p>
                <p>30% in the world</p>
            </div>

        </div>

    </div>
    <div class="kahve flex items-center justify-center text-white"></div>
    <div class="bg-red-500 flex items-center pl-6 justify-center gap-7 flex-col text-white">
        <div class="flex flex-col gap-5">
            <span class="text-5xl ">arabica coffee</span>
            <span class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis
                necessitatibus neque
                asperiores consequatur modi in reiciendis sapiente provident aut dolorum nisi consectetur error
                molestias, ex vero, soluta sequi. Fugit!</span>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex flex-col">
                <span>alitute</span>
                <span>up 800m</span>
            </div>
            <div class="flex flex-col">
                <span>temp</span>
                <span>22-30c</span>
            </div>
            <div>
                <p>coffeine</p>
                <p>2-5%</p>
            </div>
            <div>
                <p>produc</p>
                <p>30% in the world</p>
            </div>

        </div>

    </div>
</div> -->

<div class="grid md:grid-cols-3 h-50vh pt-12 px-3 md:px-12">
    <div class="bg-white flex items-center pl-6 justify-center gap-7 flex-col text-black">
        <div class="flex flex-col gap-5 font-serif ">
            <span class="text-5xl font-medium md:text-right text-[#b89d64]">Robusto Coffee</span>
            <span class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis
                necessitatibus neque
                asperiores consequatur modi in reiciendis sapiente provident aut dolorum nisi consectetur error
                molestias, ex vero, soluta sequi. Fugit!</span>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">landscape</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Alitute</span>
                    <span class="font-light">up 800m</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">wb_sunny</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Temp</span>
                    <span class="font-light">22-30c</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> layers</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Coffeine</span>
                    <span class="font-light">2-5%</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> local_cafe</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Product</span>
                    <span class="font-light">30% in the world</span>
                </div>
            </div>

        </div>
    </div>

    <div class="p-3 md:p-12">
        <div class="kahve flex items-center justify-center text-white p-12"></div>
    </div>

    <div class="bg-white flex items-center pl-6 justify-center gap-7 flex-col text-black">
        <div class="flex flex-col gap-5 font-serif">
            <span class="text-5xl text-[#b89d64]">Arabica Coffee</span>
            <span class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis
                necessitatibus neque
                asperiores consequatur modi in reiciendis sapiente provident aut dolorum nisi consectetur error
                molestias, ex vero, soluta sequi. Fugit!</span>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">landscape</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Alitute</span>
                    <span class="font-light">up 800m</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">wb_sunny</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Temp</span>
                    <span class="font-light">22-30c</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> layers</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Coffeine</span>
                    <span class="font-light">2-5%</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> local_cafe</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Product</span>
                    <span class="font-light">30% in the world</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="mt-16 md:px-12 px-3">
    <p class="text-5xl font-serif text-[#b89d64]">Lorem, ipsum dolor.</p>
    <div class="grid md:grid-cols-3 gap-4 font-serif">
        <div class="flex flex-col items-start bg-white p-4 shadow-md rounded">
            <img src="../../assets/kahve1.jpg" alt="Image 1" class="w-full max-h-[19.875rem] rounded mb-2">
            <p class="font-bold text-xl font-serif text-[#b89d64]">Bu metin 8 kelimeden oluşuyor ve koyu yazılmıştır.
            </p>
            <p class="text-sm mt-2">
                Bu metin 22 kelimeden oluşan açıklamadır. Burada daha fazla bilgi vermek için yer alıyor. Bu sayede
                okuyuculara açıklama yapılıyor.
            </p>
            <button class="mt-4 font-bold py-2 rounded text-[#b89d64]" (click)="togglePopup()">Read More</button>
        </div>
        <div class="flex flex-col items-start bg-white p-4 shadow-md rounded">
            <img src="../../assets/kahve2.jpg" alt="Image 2" class="w-full h-auto max-h-[19.875rem] rounded mb-2">
            <p class="font-bold text-xl text-[#b89d64]">Bu metin 8 kelimeden oluşuyor ve koyu yazılmıştır.</p>
            <p class="text-sm mt-2">
                Bu metin 22 kelimeden oluşan açıklamadır. Burada daha fazla bilgi vermek için yer alıyor. Bu sayede
                okuyuculara açıklama yapılıyor.
            </p>
            <button class="mt-4   font-bold py-2 rounded text-[#b89d64]" (click)="togglePopup()">Read More</button>
        </div>

        <div class="flex flex-col items-start bg-white p-4 shadow-md rounded">
            <img src="../../assets/kahve3.jpg" alt="Image 3" class="w-full h-auto max-h-[19.875rem] rounded mb-2">
            <p class="font-bold text-xl text-[#b89d64]">Bu metin 8 kelimeden oluşuyor ve koyu yazılmıştır.</p>
            <p class="text-sm mt-2">
                Bu metin 22 kelimeden oluşan açıklamadır. Burada daha fazla bilgi vermek için yer alıyor. Bu sayede
                okuyuculara açıklama yapılıyor.
            </p>
            <button class="mt-4   font-bold py-2  rounded text-[#b89d64]" (click)="togglePopup()">Read More</button>
        </div>
    </div>
</div>

<div *ngIf="isPopupVisible" class="popup" [ngClass]="{'visible': isPopupVisible}">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="togglePopup()">&times;</span>
        <p class="text-5xl font-serif text-[#b89d64]">Lorem ipsum dolor sit amet.</p>

        <span class="mt-8 font-serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam amet iure porro ut,
            doloribus
            quia? Fugiat,
            eveniet aliquam, est accusamus sequi culpa, inventore unde aperiam maiores dignissimos officiis odit
            voluptas.
            Laborum quae, ex ratione, exercitationem error animi, dolor nihil officia eos provident neque iste libero?
            Dolore alias officia laboriosam debitis voluptatem recusandae animi tenetur facilis minus magni? Magni,
            consequatur cum.
            Rem nulla ratione deleniti ullam illum, voluptatibus eligendi, quasi quaerat impedit quia nemo tempora!
            Provident ullam repellendus qui voluptas accusamus nisi at quod quisquam laboriosam commodi, possimus sequi
            facilis corrupti.
            Asperiores nam reiciendis tenetur omnis voluptates commodi voluptatum voluptas, recusandae nobis numquam
            consequatur atque labore cumque rerum at sequi repudiandae expedita fugit veniam. Expedita atque repellendus
            itaque quo esse saepe.
            Ipsam nobis labore et ex itaque unde quae deleniti vitae vel id. Eius eos voluptatibus modi assumenda,
            delectus ipsam unde placeat dignissimos iure, possimus illo cumque cupiditate! Nostrum, unde modi?</span>
    </div>
</div>





<div class="md:px-12 px-3 mt-16">
    <div class="grid md:grid-cols-2 gap-4">
        <div class="flex flex-col">
            <span class="font-serif text-6xl block text-center mb-8 text-[#b89d64]">Logistic</span>
            <p class="mb-2 font-sans">
                Biz, yurtiçi parsiyel taşımacılık hizmeti sunan ve müşteri odaklı yaklaşımımızla kazan-kazan anlayışını
                benimseyen bir çözüm ortağıyız. Türkiye’de az sayıda firmanın sunduğu bu hizmet sayesinde, tam palet
                yüklemeye gerek kalmadan müşterilerimizin küçük ölçekli taşımacılık ihtiyaçlarını karşılıyoruz. Bu
                esneklik, özellikle parça yükleri olan veya belirli bir kota altındaki gönderimlerde müşterilerimize
                avantaj sağlıyor. Güçlü ağ yapımız ve uzman ekibimizle, her türlü lojistik ihtiyacına etkili, güvenilir
                ve ekonomik çözümler sunarak sektörde fark yaratıyoruz.
            </p>
        </div>

        <div class="flex items-center justify-center">
            <img src="../../assets/kahve2.jpg" alt="Resim" class="w-full h-auto" />
        </div>

        <!-- İkinci Row -->
        <div class="col-span-1"></div>

        <div class="flex items-center justify-center flex-col">
            <a class="text-2xl mb-8 text-[#b89d64] " href="tel:+905532806864">Bizi Arayin</a>
        </div>
    </div>

    <div class="marquee">
        <div>
            <img class="h-[150px] marqimg" src="../../assets/kayanresim.png">
        </div>
    </div>



    <div class="grid md:grid-cols-2 gap-4 md:mb-40">
        <!-- Sol Taraf -->
        <div class="flex gap-2">
            <div class="flex flex-col max-w-[50%] md:mr-4">
                <img src="../../assets/kahve1.jpg" alt="Kahve 1" class="mb-2 md:w-[20rem] h-auto" />
                <img src="../../assets/kahve2.jpg" alt="Kahve 2" class="md:w-[20rem] h-auto" />
            </div>
            <div>
                <img src="../../assets/kahve3.jpg" alt="Kahve 3" class="md:w-[20rem] h-auto self-center" />
            </div>
        </div>

        <!-- Sağ Taraf -->
        <div class="flex items-center justify-center flex-col ">
            <span class="font-serif text-6xl block text-center mb-8 text-[#b89d64]">Fabrika</span>
            <p class="text-lg">
                Biz, Holoco olarak İzmir’in Torbalı ilçesi Pancar bölgesinde 4000 m² alan üzerine kurulu bardak üretim
                tesisimizde, yüksek kalite ve hijyen standartlarında üretim yapıyoruz. 4 oz, 8 oz, 14 oz ve 16 oz
                ölçülerinde tek katlı ve çift katlı (double wall) karton bardak seçeneklerimizle her ihtiyaca uygun
                çözümler sunuyoruz. Üretim sürecimizde gıdaya uygun, güvenilir boyalar kullanarak sağlığı ön planda
                tutuyoruz. Ayrıca, 80 mm ve 90 mm çaplarında PP kapak üretimi yapıyor, talebe göre renkli kapak
                seçenekleriyle ürünlerimizi çeşitlendiriyoruz. Müşterilerimize en iyi hizmeti sağlamak için kaliteye ve
                güvenilirliğe önem veriyoruz.
            </p>
        </div>
    </div>

    <div class="grid md:grid-cols-2 gap-4 mt-12">
        <!-- İlk Row -->
        <div class="flex flex-col">
            <span class="font-serif text-6xl block text-center mb-8 text-[#b89d64]">iş ortaklarımız -
                partnerlerimiz</span>
            <p class="mb-2 font-sans">
                Türkiye’nin önde gelen firmalarından Nesco, Agosto, Cake Studio ve Girginer gibi markalarla güçlü iş
                ortaklıklarımız bulunuyor. Bu iş birlikleri sayesinde sektördeki konumumuzu güçlendirirken,
                müşterilerimize sunduğumuz ürün ve hizmetlerin kalitesini de sürekli olarak üst seviyeye taşıyoruz.
                Güçlü çözüm ortaklıklarımızla sektördeki güvenilirliğimizi pekiştiriyor ve müşterilerimize değer katmaya
                devam ediyoruz.
            </p>
        </div>

        <div class="flex items-center justify-center">
            <img src="../../assets/kahve1.jpg" alt="Resim" class="w-full h-auto" />
        </div>

        <!-- İkinci Row -->
        <div class="col-span-1"></div>

        <div class="flex items-center justify-center flex-col">
            <p class="text-lg mb-1 text-[#b89d64]">Partnerimiz olmak için iletişime geçin.</p>
        </div>
    </div>
    <div>
        <div class="marquee2">
            <div class="marqright">
                <img class="h-[150px] marqimg2" src="../../assets/kayanresim.png">
            </div>
        </div>
    </div>

    <div class="">
        <div>
            <p class="text-6xl text-[#b89d64]">Sertifikalar</p>
            <p class="text-3xl text-[#b89d64]">Yeniliklerimizi Keşfedin</p>
        </div>
        <div class="grid md:grid-cols-3 gap-4 p-4">
            <div class="flex flex-col items-start bg-gray-200 p-4">
                <div class="w-full h-full flex justify-center items-center bg-gray-200">
                    <img src="../../assets/kahve.jpg" alt="Image 1" class="w-3/5 h-auto">
                </div>
                <div class="flex items-center justify-between w-full pt-5  mt-2">
                    <p class="text-left">This is test one</p>
                    <button class="ml-2 text-lg text-[#3f3620]">Download</button>
                </div>
            </div>

            <div class="flex flex-col items-start bg-gray-200 p-4">
                <div class="w-full h-full flex justify-center items-center bg-gray-200">
                    <img src="../../assets/kahve1.jpg" alt="Image 2" class="w-3/5 h-auto">
                </div>
                <div class="flex items-center justify-between w-full pt-5 mt-2">
                    <p class="text-left">This is test two</p>
                    <button class="ml-2 text-lg text-[#3f3620]">Download</button>
                </div>
            </div>

            <div class="flex flex-col items-start bg-gray-200 p-4">
                <div class="w-full h-full flex justify-center items-center bg-gray-200">
                    <img src="../../assets/kahve2.jpg" alt="Image 3" class="w-3/5 h-auto">
                </div>
                <div class="flex items-center justify-between w-full pt-5  mt-2">
                    <p class="text-left">This is test three</p>
                    <button class="ml-2 text-lg text-[#3f3620]">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>