<!-- <div>
    <div class="barista">
        <div class="flex flex-col justify-center h-full">
            <div class="grid  gap-4 text-white w-4/12">
                <span class="text-5xl">Lorem ipsum dolor sit amet consectetur.12</span>
                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ipsa quas necessitatibus
                    numquam
                    cumque quia, beatae temporibus vel eligendi optio neque quam esse facilis explicabo, quisquam
                    tenetur
                    quae placeat! Odit!</span>
                <button class="bg-orange-700 w-32">Daha fazla</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="grid grid-cols-3 h-50vh pt-12  ">
    <div class="bg-red-500 flex items-center pl-6 justify-center gap-7 flex-col text-white">
        <div class="flex flex-col gap-5">
            <span class="text-5xl text-right">robusto coffee</span>
            <span class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis
                necessitatibus neque
                asperiores consequatur modi in reiciendis sapiente provident aut dolorum nisi consectetur error
                molestias, ex vero, soluta sequi. Fugit!</span>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex flex-col">
                <span>alitute</span>
                <span>up 800m</span>
            </div>
            <div class="flex flex-col">
                <span>temp</span>
                <span>22-30c</span>
            </div>
            <div>
                <p>coffeine</p>
                <p>2-5%</p>
            </div>
            <div>
                <p>produc</p>
                <p>30% in the world</p>
            </div>

        </div>

    </div>
    <div class="kahve flex items-center justify-center text-white"></div>
    <div class="bg-red-500 flex items-center pl-6 justify-center gap-7 flex-col text-white">
        <div class="flex flex-col gap-5">
            <span class="text-5xl ">arabica coffee</span>
            <span class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis
                necessitatibus neque
                asperiores consequatur modi in reiciendis sapiente provident aut dolorum nisi consectetur error
                molestias, ex vero, soluta sequi. Fugit!</span>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex flex-col">
                <span>alitute</span>
                <span>up 800m</span>
            </div>
            <div class="flex flex-col">
                <span>temp</span>
                <span>22-30c</span>
            </div>
            <div>
                <p>coffeine</p>
                <p>2-5%</p>
            </div>
            <div>
                <p>produc</p>
                <p>30% in the world</p>
            </div>

        </div>

    </div>
</div> -->

<div class="grid md:grid-cols-3 font-sans h-50vh pt-12 px-3 md:px-12">
    <div class="bg-white flex items-center  justify-center gap-7 flex-col text-black">
        <div class="flex flex-col gap-3 md:gap-5">
            <span class="text-2xl md:text-3xl font-medium md:text-right text-[#513826] ">Terra Espresso</span>
            <span class="text-justify">
                Endonezya, Etiyopya ve Brezilya’dan Sertifikalı %100 Arabica Kahve
            </span>
            <span>Bu özel kahve, dünyanın en iyi kahve yetiştirme bölgelerinden olan Endonezya, Etiyopya ve Brezilya’dan
                özenle seçilmiş, %100 Arabica sertifikalı çekirdeklerden üretilmiştir. Her yudumda, kahveye adanmış bu
                üç ülkenin eşsiz tat profillerini deneyimleyin.</span>
            <!-- <span class="text-[#b89d64]">Ürün Özellikleri:</span>
            <span><span class="text-[#b89d64]">Zengin Aroma Profili:</span> Etiyopya’nın çiçeksi notaları, Brezilya’nın
                dengeli gövdesi ve
                Endonezya’nın karakteristik zenginliği ile her yudumda benzersiz bir aromatik deneyim sunar.
                Yumuşak ve Dengeleyici Tat: %100 Arabica çekirdeklerinin verdiği yumuşak içim ve düşük asidite, hafif
                ama kalıcı bir lezzet sağlar.</span>
            <span><span class="text-[#b89d64]">Sürdürülebilir Kalite:</span> Sertifikalı çekirdeklerle üretilmiş olan bu
                kahve, hem lezzeti hem
                de çevre dostu oluşuyla öne çıkar.
            </span>
            <span>Kahve keyfinizi yeni bir seviyeye taşımak için Endonezya, Etiyopya ve Brezilya’nın lezzetlerini bir
                araya getiren bu özel %100 Arabica harmanını mutlaka deneyin.</span> -->
        </div>
        <!-- <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">landscape</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Alitute</span>
                    <span class="font-light">up 800m</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">wb_sunny</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Temp</span>
                    <span class="font-light">22-30c</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> layers</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Coffeine</span>
                    <span class="font-light">2-5%</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> local_cafe</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Product</span>
                    <span class="font-light">30% in the world</span>
                </div>
            </div>

        </div> -->
    </div>

    <div class="md:px-4 mt-4 md:mt-0 items-center flex">
        <!-- <div class="kahve flex items-center justify-center text-white p-12"></div> -->
        <img src="assets/kahvetoplu.webp" alt="">
    </div>
    <div class="bg-white flex items-center  justify-center gap-7 mt-4 md:mt-0 flex-col text-black">
        <div class="flex flex-col gap-3 md:gap-5">
            <span class="text-2xl md:text-3xl font-medium text-[#513826]">Tangle Espresso</span>
            <span class="text-justify">Endonezya ve Brezilya’dan Sertifikalı %70 Arabica & %30 Robusta Kahve
                Harmanı</span>
            <span>Bu kahve, kahve dünyasının kalbi olan Endonezya ve Brezilya’dan özenle seçilen sertifikalı
                çekirdeklerle hazırlanmıştır. %70 Arabica ve %30 Robusta oranındaki harmanı sayesinde yumuşak içimi
                güçlü bir gövdeyle buluşturan eşsiz bir deneyim sunar.
            </span>
            <!-- <span class="text-[#b89d64]">Öne Çıkan Özellikler:</span>
            <span><span class="text-[#b89d64]">Yoğun Aroma ve Lezzet:</span> Arabica çekirdeklerinin sunduğu zarif tat
                ve
                hafif asidite,
                Robusta’nın dolgun gövdesi ve güçlü karakteriyle birleşerek dengeli ve kalıcı bir lezzet sunar.
                Enerji Dolu Bir Deneyim: Robusta’nın ekstra kafein içeriği, bu kahveye enerji verici bir etki kazandırır
                ve her fincanda dinçlik sağlar.
            </span>
            <span><span class="text-[#b89d64]">Sürdürülebilir Kalite:</span> Sertifikalı çekirdeklerle üretilen bu
                kahve,
                yalnızca lezzetli değil, aynı zamanda çevre dostu bir tercihtir.
            </span>
            <span>Günün her saatinde, her yudumda Endonezya ve Brezilya’nın benzersiz tatlarını hissetmek için bu özel
                kahve harmanını deneyin.</span> -->
        </div>
        <!-- <div class="grid grid-cols-2 grid-rows-2 w-full">
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">landscape</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Alitute</span>
                    <span class="font-light">up 800m</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 ">wb_sunny</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium flex gap-1 text-lg text-[#b89d64]">Temp</span>
                    <span class="font-light">22-30c</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> layers</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Coffeine</span>
                    <span class="font-light">2-5%</span>
                </div>
            </div>
            <div class="flex gap-1">
                <mat-icon class="text-[#b89d64] text-5xl !h-12 !w-12 "> local_cafe</mat-icon>
                <div class="flex flex-col gap-2">
                    <span class="font-medium text-lg text-[#b89d64]">Product</span>
                    <span class="font-light">30% in the world</span>
                </div>
            </div>

        </div> -->
    </div>
</div>

<div class="mt-16 md:px-18 md:py-12 font-sans py-4 px-3 bg-[#F5F0EA]">
    <p class="text-2xl md:text-3xl  text-center md:text-start text-[#513826] font-medium">Holoco'dan Haberler</p>
    <div class="grid md:grid-cols-3 gap-4 ">
        <div class="flex flex-col items-start bg-white  shadow-md rounded-lg overflow-hidden">
            <img src="../../assets/haberler/3ton.png" alt="Image 1" class="w-full  rounded mb-2">
            <div class="px-4">
                <span class="font-bold block md:my-4 text-xl  text-[#513826]">Holoco IZTV Haberi
                </span>
                <p class="text-sm mt-2">
                    İzmir merkezli şirket Türkiye'nin dört bir yanına ürünlerini müşterilerine tedarik etmeyi
                    hedeflemektedir. Üretimini ve satışını üstlendikleri tüm ürünleri kendi oluşturduktan dağıtım ve
                    organizasyon ağı ile firma bünyesinde yapıyorlar. Aynı zaman da firmaların -18 taşımalarınızda
                    üstlenmekteler.
                </p>
            </div>
            <!-- <button class="mt-4 font-bold py-2 rounded text-[#b89d64]" (click)="togglePopup()">Read More</button> -->
        </div>
        <div class="flex flex-col items-start bg-white  shadow-md rounded-lg overflow-hidden">
            <img src="assets/haberler/15bin.jpg" alt="Image 2" class="w-full h-auto  rounded mb-2">
            <div class="px-4">
                <span class="font-bold text-xl block md:my-4 text-[#513826] ">İzmir Kahve Fuarı</span>
                <p class="text-sm mt-2">
                    Holoco, düzenlenen fuarda kahve severlere unutulmaz bir deneyim yasattı. Standında ziyaretçileri
                    ağırlayan firma, etkinlik boyunca tam 15.000 fincan kahve ikram ederek büyük ilgi topladı. Yüksek
                    kaliteli kahveleriyle dikkat çeken Holoco, hem lezzeti hem de misafirperverliğiyle fuarın en çok
                    konuşulan markalarından biri oldu.
                </p>
            </div>

            <!-- <button class="mt-4   font-bold py-2 rounded text-[#b89d64]" (click)="togglePopup()">Read More</button> -->
        </div>

        <div class="flex flex-col items-start bg-white shadow-md rounded-lg overflow-hidden">
            <img src="../../assets/haberler/kent3.jpg" alt="Image 3" class="w-full h-auto rounded mb-2">
            <div class="px-4">
                <span class="font-bold block md:my-4 text-xl text-[#513826]">Kahve Kavurma Atölyemiz </span>
                <p class="text-sm mt-2">
                    İzmir Işıkkent'te yeni kavurma atölyemizi hizmete açtık. Lezzetlerimizi modern üretim teknikleriyle
                    müşterilerimize sunmayı hedefliyoruz. Atölyemiz, bölge ekonomisine katkı sağlamanın yanı sıra
                    istihdam
                    imkânları da yaratacak. Ürettiğimiz ürünler, Türkiye’nin dört bir yanına ulaşacak.
                </p>
            </div>

        </div>
    </div>
</div>
<!-- <button class="mt-4   font-bold py-2  rounded text-[#b89d64]" (click)="togglePopup()">Read More</button> -->

<!-- <div *ngIf="isPopupVisible" class="popup" [ngClass]="{'visible': isPopupVisible}">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="togglePopup()">&times;</span>
        <p class="text-5xl font-serif text-[#b89d64]">Lorem ipsum dolor sit amet.</p>
        <span class="mt-8 font-serif">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
        <span>Lorem ipsum dolor sit amet.</span>
        <span>Lorem ipsum dolor sit amet consectetur.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
</div> -->





<div class="md:px-12 font-sans px-3 mt-20">
    <div class="grid md:grid-cols-2 gap-4">
        <div class="flex flex-col md:justify-center">
            <span class=" text-2xl md:text-3xl block text-center mb-8 text-[#513826] font-medium">Lojistik
                Hizmetlerimiz</span>
            <p class="mb-2 font-sans">
                Biz, yurtiçi parsiyel taşımacılık hizmeti sunan ve müşteri odaklı yaklaşımımızla kazan-kazan anlayışını
                benimseyen bir çözüm ortağıyız. Türkiye’de az sayıda firmanın sunduğu bu hizmet sayesinde, tam palet
                yüklemeye gerek kalmadan müşterilerimizin küçük ölçekli taşımacılık ihtiyaçlarını karşılıyoruz. Bu
                esneklik, özellikle parça yükleri olan veya belirli bir kota altındaki gönderimlerde müşterilerimize
                avantaj sağlıyor. Güçlü ağ yapımız ve uzman ekibimizle, her türlü lojistik ihtiyacına etkili, güvenilir
                ve ekonomik çözümler sunarak sektörde fark yaratıyoruz.
            </p>
        </div>

        <div class="flex items-center justify-center">
            <img src="../../assets/logistic/logistics.jpeg" alt="Resim" class="w-full md:w-[80%] h-auto rounded-xl" />
        </div>


        <div class="col-span-1"></div>

        <div class="flex items-center justify-center flex-col">
            <a class=" md:mb-8  text-[#b89d64] " href="tel:+905532806864">Bize Ulaşın</a>
        </div>
    </div>

    <!-- <div class="marquee">
        <div>
            <img class="h-[13.75rem] !max-w-[auto] marqimg" src="../../assets/kayanresim.png">
        </div>
    </div> -->
    <div>
        <div class="relative no-scrollbar flex overflow-hidden snap-x snap-mandatory gap-0 ">
            <div #animateRefTmp2
                class="flex flex-nowrap gap-5 md:gap-10 overflow-visible items-center w-full min-w-full">

                <img class="snap-start max-h-[100px] h-[100px] min-h-[100px] md:max-h-[180px] md:h-[180px] md:min-h-[180px] max-w-none object-contain"
                    src="../../assets/kayanresim.png" />

            </div>
            <div #animateRefTmp3
                class="absolute top-0 flex flex-nowrap gap-5 md:gap-10 overflow-visible items-center w-full min-w-full">

                <img class="snap-start max-h-[100px] h-[100px] min-h-[100px] md:max-h-[180px] md:h-[180px] md:min-h-[180px] w-auto max-w-none object-contain"
                    src="../../assets/kayanresim.png" />

            </div>
        </div>
    </div>




    <div class="grid md:grid-cols-2 gap-4 md:mb-20">

        <!-- <div class="flex gap-2">
            <div class="flex flex-col max-w-[50%] md:mr-4">
                <img src="../../assets/fabrika/factory2.webp" alt="Kahve 1" class="mb-2 md:w-[20rem] h-auto" />
                <img src="../../assets/fabrika/factory3.jpg" alt="Kahve 2" class="md:w-[20rem] h-auto" />
            </div>
            <div class="w-[50%]">
                <img src="../../assets/fabrika/factory4.jpeg" alt="Kahve 3" class="md:w-[20rem] h-auto self-center" />
            </div>
        </div> -->
        <div>
            <img src="../../assets/fabrika/fabri4.jpg" alt="Kahve 3" class=" md:h-auto self-center rounded-xl" />
        </div>

        <!-- Sağ Taraf -->
        <div class="flex items-center justify-center flex-col ">
            <span
                class="font-sans text-2xl md:text-3xl block text-center mb-8 text-[#513826] font-medium">Fabrikamız</span>
            <p class="font-sans">
                Biz, Holoco olarak İzmir’in Torbalı ilçesi Pancar bölgesinde 4000 m² alan üzerine kurulu bardak üretim
                tesisimizde, yüksek kalite ve hijyen standartlarında üretim yapıyoruz. 4 oz, 8 oz, 14 oz ve 16 oz
                ölçülerinde tek katlı ve çift katlı (double wall) karton bardak seçeneklerimizle her ihtiyaca uygun
                çözümler sunuyoruz. Üretim sürecimizde gıdaya uygun, güvenilir boyalar kullanarak sağlığı ön planda
                tutuyoruz. Ayrıca, 80 mm ve 90 mm çaplarında PP kapak üretimi yapıyor, talebe göre renkli kapak
                seçenekleriyle ürünlerimizi çeşitlendiriyoruz. Müşterilerimize en iyi hizmeti sağlamak için kaliteye ve
                güvenilirliğe önem veriyoruz.
            </p>
        </div>
    </div>

    <div class="grid md:grid-cols-2 gap-4 mt-12">
        <div class="flex  md:justify-center flex-col">
            <span class="font-sans text-2xl md:text-3xl block text-center mb-8 text-[#513826] font-medium">Holoco Gıda
                İş Ortaklığı
            </span>
            <p class="mb-2 font-sans">
                Kahve ve coffee shop sektörünün yükselen markası Holoco Gıda, Dünya genelinde İş ortaklığı kurmakta.
            </p>
            <span class="block font-sans mb-2">Kendi işinizi kurmak veya mevcut işletmenizi büyütmek için mükemmel bir
                fırsat! Kaliteli ürünlerimiz, geniş ürün yelpazemiz ve sürekli desteğimizle yanınızdayız.</span>
            <span class="block font-sans mb-2 text-[#b89d64] text-2xl">Neden Holoco Gıda?</span>
            <span class="block font-sans mb-2"><span class="text-[#b89d64] font-semibold">Zengin Ürün Çeşidi:</span>
                Kahve, şuruplar,
                barista ekipmanları, ve coffee shop
                ihtiyaçlarına yönelik tüm malzemeler.</span>
            <span class="block font-sans mb-2"><span class="text-[#b89d64] font-semibold">Yüksek Kalite:</span> Sektörde
                fark yaratan,
                güvenilir ürünler.</span>
            <span class="block font-sans mb-2"><span class="text-[#b89d64] font-semibold">Kârlı Bayilik Modeli:</span>
                Avantajlı
                fiyatlar.</span>
            <span class="block font-sans mb-2"><span class="text-[#b89d64] font-semibold">Sürekli Destek:</span>
                Pazarlama, eğitim ve
                lojistik konularında destek
                sağlıyoruz.</span>
            <span class="block font-sans mb-2"><span class="text-[#b89d64] font-semibold">Marka Gücü:</span> Yükselen
                bir marka ile
                işbirliği yaparak prestij
                kazanın.</span>
            <span class="block font-sans mb-2">Holoco Gıda ile sektöre yön veren bir iş ortağı olun. Birlikte büyüyelim,
                birlikte kazanalım!</span>
            <span class="block font-sans mb-2"></span>
        </div>

        <div class="flex max-w-[99%] items-center justify-center">
            <img src="../../assets/isortak2.webp" alt="Resim" class="xl:w-[80%]  rounded-xl" />
        </div>


        <div class="col-span-1"></div>

        <div class="flex items-center justify-center flex-col">
            <a href=""></a>
            <a class="md:text-2xl md:mb-8 text-[#b89d64] " href="tel:+905532806864">Partnerimiz olmak için iletişime
                geçin.</a>
            <p class="text-lg mb-1 text-[#b89d64]"></p>
        </div>
    </div>
    <!-- <div>
        <div class="marquee2">
            <div class="marqright">
                <img class="h-[13.75rem] marqimg2" src="../../assets/kayanresim.png">
            </div>
        </div>
        <div class="marquee">
            <div>
                <img class="h-[13.75rem] !max-w-[auto] marqimg" src="../../assets/kayanresim.png">
            </div>
        </div>
    </div> -->

    <div class="relative no-scrollbar flex overflow-hidden snap-x snap-mandatory gap-0 ">
        <div #animateRefTmp class="flex flex-nowrap gap-5 md:gap-10 overflow-visible items-center w-full min-w-full">

            <img class="snap-start max-h-[100px] h-[100px] min-h-[100px] md:max-h-[180px] md:h-[180px] md:min-h-[180px] max-w-none object-contain"
                src="../../assets/kayanresim.png" />

        </div>
        <div #animateRefTmp1
            class="absolute top-0 flex flex-nowrap gap-5 md:gap-10 overflow-visible items-center w-full min-w-full">

            <img class="snap-start max-h-[100px] h-[100px] min-h-[100px] md:max-h-[180px] md:h-[180px] md:min-h-[180px] w-auto max-w-none object-contain"
                src="../../assets/kayanresim.png" />

        </div>
    </div>

    <!-- <div class="">
        <div>
            <p class=" text-2xl md:text-3xl text-[#513826] font-medium">Sertifikalar</p>
            <p class="text-2xl  md:text-3xl text-[#513826] font-medium">Yeniliklerimizi Keşfedin</p>
        </div>
        <div class="grid md:grid-cols-3 gap-4 p-4">
            <div class="flex flex-col items-start bg-gray-200 p-4">
                <div class="w-full h-full flex justify-center items-center bg-gray-200">
                    <img src="../../assets/kahve.jpg" alt="Image 1" class="w-3/5 h-auto">
                </div>
                <div class="flex items-center justify-between w-full pt-5  mt-2">
                    <p class="text-left">This is test one</p>
                    <button class="ml-2 text-lg text-[#3f3620]">Download</button>
                </div>
            </div>

            <div class="flex flex-col items-start bg-gray-200 p-4">
                <div class="w-full h-full flex justify-center items-center bg-gray-200">
                    <img src="../../assets/kahve1.jpg" alt="Image 2" class="w-3/5 h-auto">
                </div>
                <div class="flex items-center justify-between w-full pt-5 mt-2">
                    <p class="text-left">This is test two</p>
                    <button class="ml-2 text-lg text-[#3f3620]">Download</button>
                </div>
            </div>

            <div class="flex flex-col items-start bg-gray-200 p-4">
                <div class="w-full h-full flex justify-center items-center bg-gray-200">
                    <img src="../../assets/kahve2.jpg" alt="Image 3" class="w-3/5 h-auto">
                </div>
                <div class="flex items-center justify-between w-full pt-5  mt-2">
                    <p class="text-left">This is test three</p>
                    <button class="ml-2 text-lg text-[#3f3620]">Download</button>
                </div>
            </div>
        </div>
    </div> -->
</div>